In [35]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [ ]:
#LOCAL GOVERNMENT AREA SUMMARY

In [9]:
school_data.head(15)

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

In [13]:
# Calculate the Totals (Schools and Students)
school_count = (school_data["School ID"].max() + 1)
student_count = (student_data["Student ID"].max() + 1)

# Calculate the Total Budget
total_budget = school_data["budget"].sum()

In [14]:
school_count

15

In [15]:
student_count

39170

In [16]:
total_budget

24649428

In [18]:
# Calculate the Average Scores
average_maths_score = school_data_complete["maths_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

In [19]:
average_maths_score

70.33819249425581

In [20]:
average_reading_score

69.98013786060761

In [26]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_maths_reading_count = school_data_complete[(school_data_complete["maths_score"] >= 50) &  
                             (school_data_complete["reading_score"] >= 50)].count()["student_name"]

overall_passing_rate = passing_maths_reading_count / float(student_count) * 100

In [27]:
passing_maths_count

33717

In [28]:
passing_maths_percentage

86.07863160582077

In [29]:
passing_reading_count

33070

In [30]:
passing_reading_percentage

84.42685728874139

In [31]:
passing_maths_reading_count

28519

In [32]:
overall_passing_rate

72.80827163645647

In [34]:
# Convert to DataFrame
area_summary = pd.DataFrame({'Total Schools': [school_count],
             'Total Students': [student_count],
             'Total Budget': [total_budget],
             'Average Maths Score': [average_maths_score],
             'Average Reading Score': [average_reading_score],
             '% Passing Maths': [passing_maths_percentage],
             '% Passing Reading': [passing_reading_percentage],
             '% Overall Passing': [overall_passing_rate]})

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [ ]:
# SCHOOL SUMMARY

In [43]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]

# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = school_data.set_index(["school_name"])["budget"] / school_data.set_index(["school_name"])["size"]

# Calculate the average test scores per school from school_data_complete
school_data_group = school_data_complete.groupby(["school_name"])
per_school_maths = school_data_group["maths_score"].mean()
per_school_reading = school_data_group["reading_score"].mean()

In [49]:
school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [75]:
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [76]:
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [77]:
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [91]:
school_data_group.count().head(10)

,Student ID,student_name,gender,year,reading_score,maths_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962

In [51]:
per_school_maths

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [53]:
per_school_reading

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [110]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
#school_passing_maths = school_data_group["maths_score"] >= 50].count()["student_name"]
#school_passing_reading = s\school_data_group["reading_score"] >= 50].count()["student_name"]
students_passing_maths = school_data_complete[(school_data_complete["maths_score"] >= 50)]
school_passing_maths_group = students_passing_maths.groupby("school_name")
school_passing_maths = pd.DataFrame(school_passing_maths_group[["maths_score"]].count())

students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 50)]
school_passing_reading_group = students_passing_reading.groupby("school_name")
school_passing_reading = pd.DataFrame(school_passing_reading_group[["reading_score"]].count())

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
#passing_maths_and_reading =

In [102]:
school_passing_maths_group.count().head(10)

,Student ID,student_name,gender,year,reading_score,maths_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4560,4560,4560,4560,4560,4560,4560,4560,4560,4560
Cabrera High School,1688,1688,1688,1688,1688,1688,1688,1688,1688,1688
Figueroa High School,2408,2408,2408,2408,2408,2408,2408,2408,2408,2408
Ford High School,2258,2258,2258,2258,2258,2258,2258,2258,2258,2258
Griffin High School,1339,1339,1339,1339,1339,1339,1339,1339,1339,1339
Hernandez High School,3752,3752,3752,3752,3752,3752,3752,3752,3752,3752
Holden High School,384,384,384,384,384,384,384,384,384,384
Huang High School,2383,2383,2383,2383,2383,2383,2383,2383,2383,2383
Johnson High School,3907,3907,3907,3907,3907,3907,3907,3907,3907,3907
Pena High School,882,882,882,882,882,882,882,882,882,882

In [ ]:
school_passing_reading_group.count().head(10)

school_passing_maths

In [111]:
school_passing_reading

                       reading_score
school_name
Bailey High School              4348
Cabrera High School             1655
Figueroa High School            2442
Ford High School                2252
Griffin High School             1299
Hernandez High School           3795
Holden High School               378
Huang High School               2376
Johnson High School             3903
Pena High School                 833
Rodriguez High School           3495
Shelton High School             1527
Thomas High School              1351
Wilson High School              1856
Wright High School              1560

In [118]:
#  Calculate the Percentage Pass Rates
per_school_passing_maths = school_passing_maths_group / per_school_counts  * 100
#per_school_passing_reading = 
#overall_passing_rate = 
#school_passing_maths_group

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 2 dimensions. The detected shape was (15, 2) + inhomogeneous part.

In [112]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({
             'school_name': ['Huang High School','Figueroa High School','Shelton High School','Hernandez High School','Griffin High School','Wilson High School','Cabrera High School',
                             'Bailey High School','Holden High School','Pena High School','Wright High School','Rodriguez High School','Johnson High School',
                             'Ford High School','Thomas High School'],
             'School Type': ['Government','Government','Independent','Government','Independent','Independent','Independent','Government','Independent','Independent',
                            'Independent','Government','Government','Government','Independent']})
             #'Total Students': [
             #'Total School Budget': [per_school_budget],
             #'Per Student Budget': [per_school_capita]})                       
             

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

              school_name  School Type
0       Huang High School   Government
1    Figueroa High School   Government
2     Shelton High School  Independent
3   Hernandez High School   Government
4     Griffin High School  Independent
5      Wilson High School  Independent
6     Cabrera High School  Independent
7      Bailey High School   Government
8      Holden High School  Independent
9        Pena High School  Independent
10     Wright High School  Independent
11  Rodriguez High School   Government
12    Johnson High School   Government
13       Ford High School   Government
14     Thomas High School  Independent

In [ ]:
area_summary = pd.DataFrame({'Total Schools': [school_count],
             'Total Students': [student_count],
             'Total Budget': [total_budget],
             'Average Maths Score': [average_maths_score],
             'Average Reading Score': [average_reading_score],
             '% Passing Maths': [passing_maths_percentage],
             '% Passing Reading': [passing_reading_percentage],
             '% Overall Passing': [overall_passing_rate]})

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
area_summary