In [15]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [16]:
school_data.head(15)

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

In [19]:
# Calculate the Totals (Schools and Students)
school_count = (school_data["School ID"].max() + 1)
student_count = (student_data["Student ID"].max() + 1)

# Calculate the Total Budget
total_budget = school_data["budget"].sum()

In [20]:
school_count

15

In [21]:
student_count

39170

In [22]:
total_budget

24649428

In [62]:
# Calculate the Average Scores
average_maths_score = school_data_complete["maths_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

In [63]:
average_maths_score

70.33819249425581

In [64]:
average_reading_score

69.98013786060761

In [33]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_maths_reading_count = school_data_complete[(school_data_complete["maths_score"] >= 50) &  
                             (school_data_complete["reading_score"] >= 50)].count()["student_name"]

overall_passing_rate = passing_maths_reading_count / float(student_count) * 100

In [56]:
 type(passing_maths_count)

numpy.int64

In [57]:
type(student_count)

pandas.core.series.Series

In [58]:
type(school_data)

pandas.core.frame.DataFrame

In [69]:
passing_maths_count

33717

In [70]:
passing_maths_percentage

86.07863160582077

In [71]:
passing_reading_count

33070

In [74]:
passing_reading_percentage

84.42685728874139

In [83]:
passing_maths_reading_count

28519

In [84]:
overall_passing_rate

72.80827163645647

In [80]:
# Convert to DataFrame
lga_dicts = {'Total Schools': [school_count],
             'Total Students': [student_count],
             'Total Budget': [total_budget],
             'Average Maths Score': [average_maths_score],
             'Average Reading Score': [average_reading_score],
             '% Passing Maths': [passing_maths_percentage],
             '% Passing Reading': [passing_reading_percentage],
             '% Overall Passing': [overall_passing_rate]}

area_summary = pd.DataFrame(lga_dicts)

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)
#area_summary["Average Maths Score"] = area_summary["Average Maths Score"].map("{:,.6f}".format)
#area_summary["Average Reading Score"] = area_summary["Average Reading Score"].map("{:,.6f}".format)

# Display the DataFrame
area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [84]:
area_summary = pd.DataFrame({'Total Schools': [school_count],
             'Total Students': [student_count],
             'Total Budget': [total_budget],
             'Average Maths Score': [average_maths_score],
             'Average Reading Score': [average_reading_score],
             '% Passing Maths': [passing_maths_percentage],
             '% Passing Reading': [passing_reading_percentage],
             '% Overall Passing': [overall_passing_rate]})

area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [ ]:
area